<form method="post">
    <div class="text-center">
        <h1>Каталог товаров</h1>
        <input type="text" style="width:550px" placeholder="Поиск" name="request" required>
        <button type="submit" class="btn" style="background-color:blue" asp-controller="Catalog" asp-action="Search">🔍</button>
    </div>
</form>

По вашему запросу ничего не нашлось