<div class="text-center">
    <h2>Добро пожаловать в онлайн-зоомагазин<br>ToPetsWithLove</h2>
</div>
<table>
    <tr>
        <td align=left> 
            <div class="col-12">
                <div class="card-body">
                    <div><font size="6"><strong>Всё, что нужно для твоего домашнего питомца</strong></font></div><br>
                    <div><font size="4">Онлайн-магазин со всем необходимым<br> для домашних животных</font></div>
                </div>
            </div>
        </td> 
        <td align=right> 
            <div class="col-12">
                <div class="card-body">
                    <div><font size="6" style="position:relative; bottom:-30px"><strong>Порадуй своего питомца, купи ему что-нибудь</strong></font></div><br>
                       <br><a class="btn" asp-controller="Catalog" asp-action="Index" style="background:linear-gradient(to bottom, #006600 0%, #33cc33 100%); width:300px; padding:30px" role="button"><font size="4" color="white"><strong>Порадовать питомца</strong></font></a>
                </div>
            </div>
        </td>
    </tr>
</table>

    
