@model UserViewModel

<form method="post">
    <div class="modal-body">
        <div class="text-center">
            <fieldset>
                <legend>Изменение пользователя</legend>

                <div>
                    <label asp-for="Email">Введите новый Email</label><br>
                    <input type="email" asp-for="Email" placeholder="@Model.Email"><br>
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>

                <input type="hidden" value="@Model.Email" name="oldEmail" required>

            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/user/userdetails/@Model.Id" class="btn" role="button">Отмена</a>
        <button type="submit" class="btn" style="background-color:green" asp-area="" asp-controller="User" asp-action="EditEmail">Сохранить изменения</button>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
