@model RegisteringUser

<form method="post">
    <div class="modal-body">
        <div class="text-center">
            <fieldset>
                <legend>Изменение пользователя</legend>
                
                <div>
                    <label asp-for="Password">Введите новый пароль</label><br>
                    <input type="password" asp-for="Password"><br>
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>

                <div>
                    <label asp-for="RepeadPassword">Повторите новый пароль</label><br>
                    <input type="password" asp-for="RepeadPassword"><br>
                    <span asp-validation-for="RepeadPassword" style="color:red"></span>
                </div>

                <input type="hidden" value="@Model.Email" name="email" required>

            </fieldset>
        </div>
    </div>
    <div class="modal-footer">
        <a href="/user/userdetails/ViewBag.SomeProperty" class="btn" role="button">Отмена</a>
        <button type="submit" class="btn" style="background-color:green" asp-area="" asp-controller="User" asp-action="EditPassword">Сохранить изменения</button>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
