@model AuthorizingUser

<form method="post">
    <div class="modal-body">
        <div class="text-center">
            <fieldset>
                <legend>Авторизация</legend>

                <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
                <div>
                    <label asp-for="Email">Email</label><br>
                    <input type="email" asp-for="Email"><br>
                    <span asp-validation-for="Email" style="color:red"></span>
                </div>

                <div>
                    <label asp-for="Password">Пароль</label><br>
                    <input type="password" asp-for="Password"><br>
                    <span asp-validation-for="Password" style="color:red"></span>
                </div>

                <label for="remember">@Html.CheckBox("Remember", false) Запомнить пользователя</label><br/> 
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@Model.ReturnUrl" role="button">Регистрация нового пользователя</a><br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" role="button">На главную</a>
                <button class="btn" style="background:linear-gradient(to bottom, #006600 0%, #33cc33 100%)" asp-area="" asp-controller="Account" asp-action="Login">Войти</button>
            </fieldset>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}